li {
  position: relative;
}
.badge {
  position: absolute;
  top: -0.75rem;
  right: -0.65rem;
  width: 1.35rem;
  height: 1.25rem;
  background-color: deeppink;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: segoe ui;
  font-weight: 400;
}
.activated {
  position: relative;
  display: flex;
  align-items: center;
}
.activated::before {
  position: absolute;
  left: -2.15rem;
  content: "";
  width: 0.75rem;
  height: 4rem;
  background-color: black;
  border-radius: 0 20px 20px 0;
}
