.App {
  display: flex;
  height: 100vh;
}
.container {
  width: calc(100% - 5rem);
}
.navbar {
  width: 5rem;
  justify-content: space-between;
  padding: 1rem 0;
}
.menu-list,
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-list {
  justify-content: center;
  gap: 3rem;
}
ul {
  padding: 0;
}
.logo {
  width: 70%;
  border-radius: 5px;
}
.header {
  height: 4.5rem;
  width: 100%;
}
.mainSection {
  height: calc(100%);
}
.mainWrapper {
  height: calc(100% - 7.5rem);
  padding: 1rem;
  box-shadow: inset 7px 6px 45px 3px #eeeeee;
  background-color: #f7f7f7;
  border-top-left-radius: 2rem;
}
