* {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
.App {
  display: flex;
  height: 100vh;
}
.container {
  width: calc(100% - 5rem);
}
.navbar {
  width: 5rem;
  justify-content: space-between;
  padding: 1rem 0;
}
.menu-list,
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-list {
  justify-content: center;
  gap: 3rem;
}
ul {
  padding: 0;
}
.logo {
  width: 70%;
}
.header {
  height: 4.5rem;
  width: 100%;
  background-color: white;
}
.main-section {
  height: calc(100% - 9.5rem);
  padding: 2.5rem;
  box-shadow: inset 7px 6px 45px 3px #eeeeee;
  background-color: #fafafa;
  border-top-left-radius: 2rem;
}
